.container {
  margin: 20px auto;
}

.emoji {
  font-size: 150px;
  position: relative;
  width: 100px;
  right: -50px;
  top: 40px;
}

.temperature {
  font-size: 130px;
  position: relative;
  right: -250px;
  top: -140px;
}

.city {
  font-size: 70px;
  margin: 10px;
}

.time {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 0;
}

.date {
  font-size: 25px;
  margin: 10px;
  margin-bottom: 0;
  padding: 0px;
}

.condition {
  font-size: 20px;
  position: relative;
  top: -150px;
  right: -275px;
}

.row {
  position: relative;
  top: -600px;
  right: -450px;
  font-size: 20px;
  text-align: center;
}

#days {
  font-size: 25px;
  position: relative;
  right: 0px;
  top: -470px;
}

.weather-app {
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
  margin: 30px auto;
  max-width: 900px;
  background: #e0fbfc;
  height: 620px;
}

.vertical {
  border-left: 1px solid #c0bcc9;
  height: 200px;
  position: relative;
  top: -370px;
  right: -460px;
}

#first-line {
  position: relative;
  top: -450px;
}

form {
  width: 600px;
}

#weekdays {
  border: 1px solid #c0bcc9;
  border-radius: 10px;
  height: 140px;
  width: 100px;
  margin: 20px auto;
}

.units {
  position: relative;
  font-size: 20px;
  right: -390px;
  top: -320px;
}

#enter-form {
  width: 600px;
  height: 40px;
}

small {
  position: relative;
  margin-left: 200px;
}

.btn-primary {
  position: relative;
  right: -620px;
  top: -54px;
}

#btn-search {
  position: relative;
  margin-left: 5px;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
}
