body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 20px auto;
}

.emoji {
  position: relative;
  width: 100px;
  right: -10px;
  top: 20px;
  width: 150px;
}

.temperature {
  font-size: 100px;
  position: relative;
  right: -220px;
  top: -130px;
}

.city {
  font-size: 70px;
  margin: 10px;
  font-weight: 600;
}

.time {
  font-size: 12px;
  margin-left: 14px;
  margin-top: 0;
  color: #88858f;
}

.date {
  font-size: 25px;
  margin: 10px;
  margin-bottom: 0;
  padding: 0px;
}

.condition {
  font-size: 20px;
  position: relative;
  top: -150px;
  right: -225px;
}

.row {
  position: relative;
  top: -500px;
  right: -400px;
  font-size: 18px;
  text-align: center;
  color: #88858f;
}

#first-line {
  padding-bottom: 30px;
}

#days {
  font-size: 25px;
  position: relative;
  right: 0px;
  top: -470px;
}

.weather-app {
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
  margin: 30px auto;
  max-width: 900px;
  background: #d8f2ff;
  height: 610px;
}

.vertical {
  border-left: 1px solid #c0bcc9;
  height: 180px;
  position: relative;
  top: -340px;
  right: -400px;
}

form {
  width: 600px;
}

#weekdays {
  border: 1px solid #bbd3df;
  border-radius: 10px;
  height: 140px;
  width: 100px;
  margin: 20px auto;
  font-size: 28px;
  padding-top: 7px;
  color: black;
  background-color: white;
}

#weekdays:hover {
  transform: scale(1.1);
}

.units {
  position: relative;
  font-size: 16px;
  right: -320px;
  top: -280px;
}

#enter-form {
  width: 600px;
  height: 40px;
}

small {
  position: relative;
  margin-left: 200px;
}

.btn-primary {
  position: relative;
  right: -620px;
  top: -54px;
}

#btn-search {
  margin-left: 5px;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
}

.weather-forecast-temperatures {
  font-size: 20px;
}

.weather-forecast-date {
  color: #a7c2d3;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

#city-input {
  border-radius: 5px;
}

.components {
  color: black;
}
